<% if @users.exists? %>
フォロー数(<%= @users.count %>)
    <table>
      <thead>
        <tr>
          <th>name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
       <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
        </tr>
       <% end %>
      </tbody>
    </table>
 フォロワー数(<%= @follow.count %>)
    <table>
      <thead>
        <tr>
          <th>name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @follow.each do |follow| %>
        <tr>
          <td><%= follow.name %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
<% else %>
  <p>ユーザーはいません</p>
  <p>気になる人をフォローしてみましょう</p>
<% end %>