<% if @users.exists? %>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <table class="table mt-5">
       <h4 class="mt-5">フォロー数(<%= @users.count %>)</h4>
      <thead>
        <tr>
          <th>name</th>
          <!--<th></%= image_tag @user.get_profile_image(50,50) %></th>-->
        </tr>
      </thead>
      <tbody>
       <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
        </tr>
       <% end %>
      </tbody>
      </table>
    </div>
    <div class="col-lg-6">
      <table class="table mt-5">
       <h4 class="mt-5">フォロワー数(<%= @follow.count %>)</h4>
       <thead>
         <tr>
           <th>name</th>
           <!--<th></%= image_tag @user.get_profile_image(50,50) %></th>-->
         </tr>
        </thead>
        <tbody>
         <% @follow.each do |follow| %>
         <tr>
           <td><%= follow.name %></td>
         </tr>
         <% end %>
        </tbody>
       </table>
    </div>
  </div>
</div>
<% else %>
  <p class="text-center mt-5">ユーザーはいません</br>
  気になる人をフォローしてみましょう</p>
<% end %>