<div class="container">
<h1 class="text-left mt-3 mb-3">ユーザー一覧</h1>
<div class="c enter-block ">
<table class="table">
  <thead>
   <tr>
     <th scope="col">ユーザーID</th>
     <th scope="col">ユーザー名</th>
     <th scope="col">メールアドレス</th>
     <th scope="col">ステータス</th>
   </tr>
  </thead>
  <tbody>
<% @users.each do |user| %>
    <tr>
      <td scope="row"><%= user.id %></td>
      <td scope="row"><%= link_to user.name, admin_customer_path(user.id) %></td>
      <td scope="row"><%= user.email %></td>
      <td scope="row">
        <% if user.is_deleted == false %>
        有効
        <% else %>
        退会
        <% end %>
        </td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
</div>
<footer>
 <div class="container">
  <div class="row">
   <div class="col-md-6 offset-md-5 mt-5 py-2">
   <nav aria-label="Page navigation">
   <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">«</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">»</span>
      </a>
    </li>
   </ul>
   </nav>
   </div>
  </div>
 </div>
</footer>
<%= paginate @users %>