<div class="background">
<div class="container">
  <div class="row justify-content-center">
    <dic class="col-sm-12 col-md-8 col-lg-3 px-5 px-sm-0">
      <h1 class="text-center mt-3 mb-3 text-style">ユーザー情報</h1>
      <div class="form-group text-center mt-5">
        <%= image_tag @user.get_profile_image(300,200) %>
      </div>
      <div class="form-group text-center">
        <class="mr-5"><%= @user.name %>
      </div>
      <div class="form-group text-center">
        <%= @user.introduction %>
      </div>
      <div class="form-group text-center text-color">
        ステータス:
        <% if @user.is_deleted == false %>
        有効
        <% else %>
        退会
        <% end %>
      </div>
      <div class="form-group text-center">
        <%= link_to '投稿一覧へ', user_post_items_path(user_id:@user.id), class: 'btn btn-primary' %>
      </div>
    </dic>
  </div>
</div>
</div>