<h1>ブックマーク一覧</h1>
<% @bookmarks.each do |bookmark| %>
    <%= link_to user_post_item_path(bookmark.post_item.id) do %>
        <%= image_tag bookmark.post_item.get_item_image(100,100) %>
    <% end %>
    <%= bookmark.post_item.created_at %>
<% end %>
