

<div class="container">
  <div class="jumbotron">
   <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h1 class="text-center mt-3">IYASI</h1>
      <p class="text-center mt-3">ストレスの緩和や、感動の共感のためのSNSサイトです。</br>
      ログインをしなくても閲覧自体は可能ですが、</br>
      閲覧以外の機能は対応していません。</br>
      あらかじめご了承ください。</p>
    </div>
   </div>
  </div>
</div>
<footer class="text-center mt-2">
  <p>以下使用画像のクレジット一覧</p>
  <p><a href="https://jp.freepik.com/free-vector/spring-floral-watercolor-background-vector-in-green-with-leaf-illustration_17221627.htm#query=%E8%83%8C%E6%99%AF%E7%B4%A0%E6%9D%90&position=35&from_view=keyword&track=sph">著作者：rawpixel.com</a>／出典：Freepik</p>
</footer>