

<div class="container">
  <div class="jumbotron">
   <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h1 class="text-center mt-3">IYASI</h1>
      <p class="text-center mt-3">ストレスの緩和や、感動の共感のためのSNSサイトです。</br>
      ログインをしなくても閲覧自体は可能ですが、</br>
      ランキングは見ることができません。</br>
      あらかじめご了承ください。</p>
    </div>
   </div>
  </div>
</div>