<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h1 class="text-center mt-3">Welcome</h1>
      <span style="font-size:100px; color:black;">Welcome</span>
      <h4 class="text-center mt-3">画像を投稿して閲覧するSNSです。</br>
      任意で投稿文を記述できるので、</br>
      日記のように投稿することもできます。</h4>
    </div>
  </div>
</div>