.swiper {
  width: 1200px;
  /*height: 100%;*/
}

.swiper-slide img{
  width:1200px;
  height:500px;
  object-fit: cover;
}

.logo{
  width:100;
  height:100;
}
:root {
  --swiper-navigation-color: #ffffff;
  --swiper-pagination-color: #ffffff;
}